@model ProjectInterview.Models.Blog

@{
    ViewBag.Title = "Details";
    var BlogID = @Model.BlogID;  
}

<script type="text/javascript">
    function PostOnFacebook(newId) {
        var id = newId;
        $.ajax({
            url: '/Blog/PostBlogOnFacebook',
            type: 'POST',
            data: { id: id },
            success: function (authLink) {
                if (authLink != 'No') {
                    window.open(authLink, 'title', 'width=660,height=500,status=no,scrollbars=yes,toolbar=0,menubar=no,resizable=yes,top=60,left=320');
                }
            }
        });
    }
</script>

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Excerpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Excerpt)
        </dd>
        <dd>
            <br />
        </dd>
        <dd>
            <img src="~/Content/images/shareBigButton.jpg" onclick="PostOnFacebook('@BlogID');" alt="Share on Facebook" width="180" height="30" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
